.cart__container-icon {
    display: flex;
    cursor: pointer;
}

.cart-container {
    width: 100%;
    max-width: 425px;
    height: 265px;
    padding: .5em;
    position: absolute;
    right: 0;
    bottom: -265px;
    z-index: 5;
}

.cart {
    background-color: white;
    border-radius: 10px;
}

.cart__title {
    padding: 1.5em;
    border-bottom: 1px solid rgb(0 0 0 / 15%);
}

.cart__title > h2 {
    font-size: 1em;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.cart__content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.5em;
}

.cart__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.cart__product > img {
    width: 60px;
    border-radius: 8px;
}

.cart__description {
    display: flex;
    flex-direction: column;
    gap: .5em;
    overflow: hidden;
}

.color--dark-gray {
    color: var(--dark-grayish-blue);
}

.cart__result {
    color: var(--very-dark-blue);
    font-weight: bold;
}

.cart__description > h3 {
    font-size: 1em;
    font-weight: 500;
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cart__delete {
    margin: 1em 0 1em 1em;
}

.cart__button {
    width: 100%;
    padding: 1.5em 1em;
    background-color: var(--orange);
    border-radius: .7em;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
}

.cart__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
}

.cart__empty > p {
    color: var(--dark-grayish-blue);
    font-weight: bold;
}

@media (min-width: 800px) {
    .cart {
        box-shadow: 0px 8px 10px 5px rgb(0 0 0 / 10%);
    }

    .cart-container {
        bottom: -240px;
    }
}

@media (min-width: 1110px) {
    .cart-container {
        right: -80px;
        padding: 0;
    }
}