.product-info {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    
    .product-info {
        display: flex;
        align-items: center;
        max-width: 800px;
        padding: 2em 0;
    }

  
}

@media (min-width: 1110px) {
    
    .product-info {
        max-width: 1050px;
        justify-content: space-around;
    }

}